<body>
<h1> Find students near me </h1>
<div id="search">
    <%= render :partial => 'students/search' %>
</div>

<div id="search_results">
  <%= render :partial => 'students/search_results' %>
</div>

<br>
<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_students_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
<br>

<%= link_to 'New Student', new_student_path %>
</body>
